
.slick-list {
   overflow: hidden;
}

.slick-track {
   display: flex;
   align-items: flex-start;
}
.sliderSlick {
   position: relative;
   min-width: 0;
   padding: 0px 60px;
}


.sliderSlick .slick-arrow {
   position: absolute;
   top: 50%;
   z-index: 10;
   font-size: 0;
}

.sliderSlick .slick-dots {
   display: flex;
   align-items: center;
   justify-content: center;
}

.sliderSlick .slick-dots li {
   list-style: none;
   margin: 15px 25px;
}

.sliderSlick .slick-dots button {
   font-size: 0;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color:#fff
}

.sliderSlick .slick-dots li.slick-active button {
   background-color: black;

}

.slider__image img {
   max-width: 100%;
 }